<!-- templates/posts/profile.html -->
{% extends 'base.html' %} {% block content %}
{% load static %}
<div class="container py-5">
  <h1>{{ user.get_full_name }} has {{ posts.count }} posts:</h1>
  <br/>
  {% for post in posts %}
    <ul>
      <li>Published: {{ post.pub_date|date:"d E Y" }}</li>
    </ul>
    <p>
        <a href="{% url 'posts:post_details' post.pk %}">
        {{ post.text|slice:":-4" }}...
        </a>
    </p>
      {% if post.group.slug != None %}
      <a href="{% url 'posts:groups' post.group.slug %}"
        >All posts in group {{ post.group.slug }}</a
      >
      {% elif post.group.slug == None %}
      <a href="{% url 'posts:groups' %}">All post without group</a>
      {% endif %}
    {% if not forloop.last %}
      <hr />
    {% endif %}
  {% endfor %}


  {% include "posts/paginator.html" %}
</div>


{% endblock %}
